<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.3/engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">PAY. Payment Methods</label>
    <label lang="de">PAY. Zahlungsmethoden</label>
    <label lang="nl">PAY. Betaalmethoden</label>
    <version>3.2</version>
    <copyright>(c) by PAY.</copyright>
    <license>MIT</license>
    <link>https://www.pay.nl</link>
    <author>PAY.</author>
    <compatibility minVersion="5.4.0"/>
    <description lang="en">
        <![CDATA[
            <b>PAY. Payment methods</b>
            <p>This plugin adds <a href='https://admin.pay.nl'>PAY.</a>'s payment methods to your store.</p>
        ]]>
    </description>
    <description lang="nl">
        <![CDATA[
            <b>PAY. Betaalmethoden</b>
            <p>Met deze plugin voeg je <a href='https://admin.pay.nl'>PAY.</a>'s betaalmethoden toe aan je webshop.</p>
        ]]>
    </description>
    <description lang="de">
        <![CDATA[
            <b>PAY. Zahlungsmethoden</b>
            <p>Dieses Plugin fügt Ihrem Shop die Zahlungsmethoden von <a href='https://admin.pay.nl'>PAY.</a> hinzu</p>
        ]]>
    </description>
    <changelog version="3.2">
        <changes lang="nl">Testbutton toegevoegd. Logging toegevoegd.</changes>
        <changes lang="en">Added testbutton. Added logging.</changes>
        <changes lang="de">Testknopf hinzugefügt. Logging hinzugefügt.</changes>
    </changelog>
    <changelog version="3.1.5">
        <changes lang="nl">Probleem met shippingtax opgelost.</changes>
        <changes lang="en">Fixed problem with vat shippingtax.</changes>
        <changes lang="de">Problem mit der Mehrwertsteuer behoben.</changes>
    </changelog>
    <changelog version="3.1.4">
        <changes lang="nl">
            Transactie verwerking bijgewerkt.
            Sessie wordt niet meer meegegeven met exchange.
        </changes>
        <changes lang="en">
            Updated transaction processing.
            Session is no longer shared between exchange and user.
        </changes>
        <changes lang="de">
            Aktualisierte Transaktionsverarbeitung.
            Die Sitzung wird nicht mehr zwischen Exchange und Benutzer geteilt.
        </changes>
    </changelog>
    <changelog version="3.1.3">
        <changes lang="nl">
            Nederlands vertaling uit het menu verwijderd.
            Shopware geeft een fout wanneer een menu item niet engels of duits is.
        </changes>
        <changes lang="en">
            Removed dutch translation of the menu item.
            Shopware throws an exception when the menu item is not english or german
        </changes>
        <changes lang="de">
            Die Niederländische Übersetzung des Menüpunkts wurde entfernt.
            Shopware löst eine exception aus, wenn der Menüpunkt nicht Deutsch oder Englisch ist.
        </changes>
    </changelog>
    <changelog version="3.1.2">
        <changes lang="nl">
            Plugin icon bijgewerkt.
            Labels en omschrijvingen multilang gemaakt.
            Sessie uit exchange call verwijderd.
        </changes>
        <changes lang="en">
            Updated plugin icon.
            Added lang attributes to all labels and descriptions.
            Removed session from exchange call.
        </changes>
        <changes lang="de">
            Aktualisiertes Plugin-Symbol.
            Allen Bezeichnungen und Beschreibungen wurden lang-Attribute hinzugefügt.
            Session aus exchange call entfernt.
        </changes>
    </changelog>
    <changelog version="3.1.1">
        <changes lang="nl">
            Instelling toegevoegd voor extra adress 1 en 2 for huisnummer extensie.
            Betere fout afhandeling bij exchangecalls.
        </changes>
        <changes lang="en">
            Added setting to use additional address 1 and 2 for house number and extension.
            Additional error handling on exchange.
        </changes>
        <changes lang="de">
            Einstellung hinzugefügt, um die zusätzlichen Adressen 1 und 2 für Hausnummer und Nebenstelle zu verwenden. Zusätzliche Fehlerbehandlung beim Tausch.
        </changes>
    </changelog>
    <changelog version="3.1.0">
        <changes lang="en">Added refund functionality</changes>
        <changes lang="de">Rückerstattungsfunktion hinzugefügt</changes>
        <changes lang="nl">Terugbetalingsfunctionaliteit toegevoegd</changes>
    </changelog>
    <changelog version="3.0.1">
        <changes lang="en">Added link between salutations and gender</changes>
        <changes lang="de">Link zwischen Begrüßung und Geschlecht hinzugefügt</changes>
        <changes lang="nl">Koppeling tussen begroetingen en geslacht toegevoegd</changes>
    </changelog>
    <changelog version="3.0.0">
        <changes lang="en">First v3 release</changes>
        <changes lang="de">Erste v3-Veröffentlichung</changes>
        <changes lang="nl">Eerste v3 release</changes>
    </changelog>
</plugin>
